* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile eol=lf
certs/03e16f6c.0 eol=lf
certs/08ff38aa.0 eol=lf
certs/0c364b2d.0 eol=lf
certs/0e82f83a.0 eol=lf
certs/102b8188.0 eol=lf
certs/11f154d6.0 eol=lf
certs/128b9c8d.0 eol=lf
certs/17b51fe6.0 eol=lf
certs/19899da5.0 eol=lf
certs/1a436542.0 eol=lf
certs/1d657651.0 eol=lf
certs/1dbdda5b.0 eol=lf
certs/219b8729.0 eol=lf
certs/256fd83b.0 eol=lf
certs/27747a11.0 eol=lf
certs/2edf7016.0 eol=lf
certs/2edf7016.1 eol=lf
certs/31fdd698.0 eol=lf
certs/31fdd698.1 eol=lf
certs/3ad48a91.0 eol=lf
certs/3e7271e8.0 eol=lf
certs/412bea73.0 eol=lf
certs/4151ce3c.0 eol=lf
certs/4643210f.0 eol=lf
certs/4aa7e70e.0 eol=lf
certs/4d654d1d.0 eol=lf
certs/4e18c148.0 eol=lf
certs/4f19d2b4.0 eol=lf
certs/4fbd6bfa.0 eol=lf
certs/50501aa4.0 eol=lf
certs/54edfa5d.0 eol=lf
certs/56e607f4.0 eol=lf
certs/594f1775.0 eol=lf
certs/5a5372fc.0 eol=lf
certs/5ac16436.0 eol=lf
certs/613f892a.0 eol=lf
certs/6166cb50.0 eol=lf
certs/635ccfd5.0 eol=lf
certs/67f38e98.0 eol=lf
certs/69b0411c.0 eol=lf
certs/6adf0799.0 eol=lf
certs/6f205b44.0 eol=lf
certs/709afd2b.0 eol=lf
certs/72fa7371.0 eol=lf
certs/72fa7371.1 eol=lf
certs/747e3dcb.0 eol=lf
certs/74c26bd0.0 eol=lf
certs/7651b327.0 eol=lf
certs/7a364847.0 eol=lf
certs/7a3a6f40.0 eol=lf
certs/7a9820c1.0 eol=lf
certs/7d3cd826.0 eol=lf
certs/7d453d8f.0 eol=lf
certs/7e8df9dd.0 eol=lf
certs/7edb8a70.0 eol=lf
certs/832db230.0 eol=lf
certs/841ea79d.0 eol=lf
certs/841ea79d.1 eol=lf
certs/843b6c51.0 eol=lf
certs/8593e208.0 eol=lf
certs/85fe6149.0 eol=lf
certs/878cf4c6.0 eol=lf
certs/8e6e2991.0 eol=lf
certs/8efac7d4.0 eol=lf
certs/8f7b96c4.0 eol=lf
certs/94264315.0 eol=lf
certs/97b3ba4d.0 eol=lf
certs/97b4211c.0 eol=lf
certs/99a8929f.0 eol=lf
certs/9ec3a561.0 eol=lf
certs/9fae0770.0 eol=lf
certs/a15b3b6b.0 eol=lf
certs/a1a8cfcb.0 eol=lf
certs/a3c60019.0 eol=lf
certs/a6498a91.0 eol=lf
certs/a8b2d517.0 eol=lf
certs/aaa45464.0 eol=lf
certs/add67345.0 eol=lf
certs/b0f3e76e.0 eol=lf
certs/b413391d.0 eol=lf
certs/b415d336.0 eol=lf
certs/b5f329fa.0 eol=lf
certs/b67c3057.0 eol=lf
certs/bcdd5959.0 eol=lf
certs/c19d42c7.0 eol=lf
certs/c19d42c7.1 eol=lf
certs/c215bc69.0 eol=lf
certs/c33a80d4.0 eol=lf
certs/c483e3b7.0 eol=lf
certs/c527e4ab.0 eol=lf
certs/c61efb68.0 eol=lf
certs/c8180066.0 eol=lf
certs/c91a3bb9.0 eol=lf
certs/c9bc75ba.0 eol=lf
certs/cbe74757.0 eol=lf
certs/ccb919f9.0 eol=lf
certs/d0081655.0 eol=lf
certs/d2adc77d.0 eol=lf
certs/d777342d.0 eol=lf
certs/d777342d.1 eol=lf
certs/d78a75c7.0 eol=lf
certs/d8274e24.0 eol=lf
certs/ddc328ff.0 eol=lf
certs/df4df6e1.0 eol=lf
certs/e1882a94.0 eol=lf
certs/e7b8d656.0 eol=lf
certs/ea60804f.0 eol=lf
certs/ea73afb5.0 eol=lf
certs/ece8871a.0 eol=lf
certs/ed049835.0 eol=lf
certs/ed049835.1 eol=lf
certs/ed524cf5.0 eol=lf
certs/ed62f4e3.0 eol=lf
certs/ed62f4e3.1 eol=lf
certs/f002c4f0.0 eol=lf
certs/f2202738.0 eol=lf
certs/f4996e82.0 eol=lf
certs/f64d9715.0 eol=lf
certs/f73e89fd.0 eol=lf
certs/f944a1cc.0 eol=lf
certs/fd2cb667.0 eol=lf
certs/ff783690.0 eol=lf
dist/AmiSSL.doc eol=lf
dist/AmiSSL_relnotes eol=lf
dist/Install-AmiSSL eol=lf
dist/OpenSSL.doc eol=lf
dist/README-SDK eol=lf
/fixme.txt eol=lf
include/amissl/amissl.h eol=lf
include/amissl/tags.h eol=lf
include/clib/amissl_protos.h eol=lf
include/clib/amisslmaster_protos.h eol=lf
include/clib/reqtools_protos.h -text
include/fd/amissl_lib.fd eol=lf
include/fd/amisslmaster_lib.fd eol=lf
include/inline/amissl.h eol=lf
include/inline/amisslmaster.h eol=lf
include/inline/macros.h -text
include/inline/reqtools.h -text
include/inline4/amissl.h eol=lf
include/inline4/amisslmaster.h eol=lf
include/interfaces/amissl.h eol=lf
include/interfaces/amissl.i -text
include/interfaces/amisslmaster.h eol=lf
include/interfaces/amisslmaster.i -text
include/internal/SDI_compiler.h -text
include/internal/SDI_lib.h -text
include/internal/SDI_stdarg.h -text
include/internal/amissl.h eol=lf
include/internal/amissl_compiler.h eol=lf
include/internal/debug.h eol=lf
include/libraries/amissl.h eol=lf
include/libraries/amisslmaster.h eol=lf
include/libraries/reqtools.h -text
include/netinclude/arpa/ftp.h -text
include/netinclude/arpa/inet.h -text
include/netinclude/arpa/nameser.h -text
include/netinclude/arpa/telnet.h -text
include/netinclude/arpa/tftp.h -text
include/netinclude/bsdsocket/socketbasetags.h -text
include/netinclude/clib/bsdsocket_protos.h -text
include/netinclude/clib/socket_protos.h -text
include/netinclude/clib/usergroup_protos.h -text
include/netinclude/errno.h -text
include/netinclude/grp.h -text
include/netinclude/inline/bsdsocket.h -text
include/netinclude/inline/bsdsocket_protos.h -text
include/netinclude/inline/usergroup.h -text
include/netinclude/inline4/bsdsocket.h -text
include/netinclude/inline4/usergroup.h -text
include/netinclude/interfaces/bsdsocket.h -text
include/netinclude/interfaces/bsdsocket.i -text
include/netinclude/interfaces/usergroup.h -text
include/netinclude/interfaces/usergroup.i -text
include/netinclude/libraries/bsdsocket.h -text
include/netinclude/libraries/usergroup.h -text
include/netinclude/net/bpf.h -text
include/netinclude/net/if.h -text
include/netinclude/net/if_arp.h -text
include/netinclude/net/if_dl.h -text
include/netinclude/net/if_types.h -text
include/netinclude/net/radix.h -text
include/netinclude/net/route.h -text
include/netinclude/netdb.h -text
include/netinclude/netinet/icmp_var.h -text
include/netinclude/netinet/if_ether.h -text
include/netinclude/netinet/igmp.h -text
include/netinclude/netinet/igmp_var.h -text
include/netinclude/netinet/in.h -text
include/netinclude/netinet/in_systm.h -text
include/netinclude/netinet/in_var.h -text
include/netinclude/netinet/ip.h -text
include/netinclude/netinet/ip_icmp.h -text
include/netinclude/netinet/ip_mroute.h -text
include/netinclude/netinet/ip_var.h -text
include/netinclude/netinet/tcp.h -text
include/netinclude/netinet/tcp_fsm.h -text
include/netinclude/netinet/tcp_timer.h -text
include/netinclude/netinet/tcp_var.h -text
include/netinclude/netinet/udp.h -text
include/netinclude/netinet/udp_var.h -text
include/netinclude/ppcinline/bsdsocket.h -text
include/netinclude/pragmas/bsdsocket_pragmas.h -text
include/netinclude/pragmas/socket_pragmas.h -text
include/netinclude/pragmas/usergroup_pragmas.h -text
include/netinclude/proto/bsdsocket.h -text
include/netinclude/proto/socket.h -text
include/netinclude/proto/usergroup.h -text
include/netinclude/pwd.h -text
include/netinclude/resolv.h -text
include/netinclude/sys/errno.h -text
include/netinclude/sys/filio.h -text
include/netinclude/sys/ioccom.h -text
include/netinclude/sys/ioctl.h -text
include/netinclude/sys/mbuf.h -text
include/netinclude/sys/netinclude_types.h -text
include/netinclude/sys/socket.h -text
include/netinclude/sys/sockio.h -text
include/netinclude/sys/syslog.h -text
include/netinclude/sys/uio.h -text
include/netinclude/syslog.h -text
include/netinclude/utmp.h -text
include/openssl/aes.h eol=lf
include/openssl/asn1.h eol=lf
include/openssl/asn1_mac.h eol=lf
include/openssl/asn1t.h eol=lf
include/openssl/bio.h eol=lf
include/openssl/blowfish.h eol=lf
include/openssl/bn.h eol=lf
include/openssl/buffer.h eol=lf
include/openssl/camellia.h -text
include/openssl/cast.h eol=lf
include/openssl/cmac.h -text
include/openssl/cms.h -text
include/openssl/comp.h eol=lf
include/openssl/conf.h eol=lf
include/openssl/conf_api.h eol=lf
include/openssl/crypto.h eol=lf
include/openssl/des.h eol=lf
include/openssl/des_old.h eol=lf
include/openssl/dh.h eol=lf
include/openssl/dsa.h eol=lf
include/openssl/dso.h eol=lf
include/openssl/dtls1.h -text
include/openssl/e_os2.h eol=lf
include/openssl/ebcdic.h eol=lf
include/openssl/ec.h eol=lf
include/openssl/ecdh.h -text
include/openssl/ecdsa.h -text
include/openssl/engine.h eol=lf
include/openssl/err.h eol=lf
include/openssl/evp.h eol=lf
include/openssl/hmac.h eol=lf
include/openssl/idea.h eol=lf
include/openssl/krb5_asn.h eol=lf
include/openssl/kssl.h eol=lf
include/openssl/lhash.h eol=lf
include/openssl/md2.h eol=lf
include/openssl/md4.h eol=lf
include/openssl/md5.h eol=lf
include/openssl/mdc2.h eol=lf
include/openssl/modes.h -text
include/openssl/obj_mac.h eol=lf
include/openssl/objects.h eol=lf
include/openssl/ocsp.h eol=lf
include/openssl/opensslconf.h eol=lf
include/openssl/opensslv.h eol=lf
include/openssl/ossl_typ.h eol=lf
include/openssl/pem.h eol=lf
include/openssl/pem2.h eol=lf
include/openssl/pkcs12.h eol=lf
include/openssl/pkcs7.h eol=lf
include/openssl/pq_compat.h -text
include/openssl/pqueue.h -text
include/openssl/rand.h eol=lf
include/openssl/rc2.h eol=lf
include/openssl/rc4.h eol=lf
include/openssl/rc5.h eol=lf
include/openssl/ripemd.h eol=lf
include/openssl/rsa.h eol=lf
include/openssl/safestack.h eol=lf
include/openssl/seed.h -text
include/openssl/sha.h eol=lf
include/openssl/srp.h -text
include/openssl/srtp.h -text
include/openssl/ssl.h eol=lf
include/openssl/ssl2.h eol=lf
include/openssl/ssl23.h eol=lf
include/openssl/ssl3.h eol=lf
include/openssl/stack.h eol=lf
include/openssl/store.h -text
include/openssl/symhacks.h eol=lf
include/openssl/tls1.h eol=lf
include/openssl/tmdiff.h eol=lf
include/openssl/ts.h -text
include/openssl/txt_db.h eol=lf
include/openssl/ui.h eol=lf
include/openssl/ui_compat.h eol=lf
include/openssl/whrlpool.h -text
include/openssl/x509.h eol=lf
include/openssl/x509_vfy.h eol=lf
include/openssl/x509v3.h eol=lf
include/ppcinline/amissl.h eol=lf
include/ppcinline/amisslmaster.h eol=lf
include/pragmas/amissl_pragmas.h eol=lf
include/pragmas/amisslmaster_pragmas.h eol=lf
include/proto/amissl.h eol=lf
include/proto/amisslmaster.h eol=lf
include/proto/reqtools.h -text
include/sfd/amissl_lib.sfd -text
include/sfd/amisslmaster_lib.sfd -text
include/timeval.h -text
include/xml/amissl.xml eol=lf
include/xml/amisslmaster.xml eol=lf
libcmt/Makefile eol=lf
libcmt/abort.c -text
libcmt/accept.c eol=lf
libcmt/asm.h eol=lf
libcmt/bind.c eol=lf
libcmt/bzero.c eol=lf
libcmt/closesocket.c eol=lf
libcmt/connect.c eol=lf
libcmt/dirent.c eol=lf
libcmt/errno.c -text
libcmt/error.c eol=lf
libcmt/exit.c -text
libcmt/fflush.c eol=lf
libcmt/fgetc.c eol=lf
libcmt/fibex.h eol=lf
libcmt/file.c eol=lf
libcmt/fprintf.c -text
libcmt/fread.c eol=lf
libcmt/free.c eol=lf
libcmt/fwrite.c eol=lf
libcmt/getenv.c eol=lf
libcmt/gethostbyname.c eol=lf
libcmt/getpid.c eol=lf
libcmt/getservbyname.c eol=lf
libcmt/getsockopt.c eol=lf
libcmt/gettimeofday.c -text
libcmt/getuid.c eol=lf
libcmt/gmtime.c eol=lf
libcmt/ioctlsocket.c eol=lf
libcmt/libcmt.h eol=lf
libcmt/listen.c eol=lf
libcmt/localtime.c eol=lf
libcmt/malloc.c eol=lf
libcmt/math.c eol=lf
libcmt/memset.c eol=lf
libcmt/multitcp.h eol=lf
libcmt/perror.c -text
libcmt/putc.c eol=lf
libcmt/realloc.c eol=lf
libcmt/recv.c eol=lf
libcmt/recvfrom.c eol=lf
libcmt/refill.c eol=lf
libcmt/send.c eol=lf
libcmt/sendto.c eol=lf
libcmt/setsockopt.c eol=lf
libcmt/shutdown.c eol=lf
libcmt/smakefile eol=lf
libcmt/socket.c eol=lf
libcmt/sscanf.c eol=lf
libcmt/stat.c eol=lf
libcmt/stdlib_funcs.c eol=lf
libcmt/string_char.c eol=lf
libcmt/string_mem.c eol=lf
libcmt/testth.c eol=lf
libcmt/threadhash.c eol=lf
libcmt/time.c eol=lf
libcmt/vscanf.c eol=lf
libcmt/vsscanf.c eol=lf
src/amissl_base.h -text
src/amissl_glue.c eol=lf
src/amissl_glue.h -text
src/amissl_glue.patch -text
src/amissl_init.c -text
src/amissl_lib_protos.h -text
src/amissl_libinit.c -text
src/amissl_library.c eol=lf
src/amissl_library_os4.c eol=lf
src/amissl_m68k.c eol=lf
src/amissl_norestore.c -text
src/amissl_vectors.c eol=lf
src/amissl_vectors.h -text
src/amisslinit.h eol=lf
src/amisslmaster_base.h -text
src/amisslmaster_init.c -text
src/amisslmaster_lib_protos.h -text
src/amisslmaster_libinit.c -text
src/amisslmaster_library.c eol=lf
src/amisslmaster_m68k.c eol=lf
src/amisslmaster_vectors.c eol=lf
src/amisslmaster_vectors.h -text
src/autoinit_amissl_main.c eol=lf
src/baserel.c eol=lf
src/libStdVec.c -text
src/libstubs.c eol=lf
src/mkidl.sh -text
test/amissl_test.c -text
test/amisslmaster_test.c -text
test/https.c eol=lf
test/uitest.c eol=lf
test/vatest.c eol=lf
tools/checkIDL.sh -text
tools/cpheaders.sh -text
