* text=auto !eol
/AmiSSL.info text eol=lf
FD/amissl_lib.fd eol=lf
FD/amissl_lib.fd_AmiSSL eol=lf
FD/amisslmaster_lib.fd eol=lf
FD/blowfish_lib.fd eol=lf
FD/blowfish_lib.fd_AmiSSL eol=lf
FD/cast_lib.fd eol=lf
FD/cast_lib.fd_AmiSSL eol=lf
FD/des_lib.fd eol=lf
FD/des_lib.fd_AmiSSL eol=lf
FD/dh_lib.fd eol=lf
FD/dh_lib.fd_AmiSSL eol=lf
FD/dsa_lib.fd eol=lf
FD/dsa_lib.fd_AmiSSL eol=lf
FD/idea_lib.fd eol=lf
FD/idea_lib.fd_AmiSSL eol=lf
FD/md2_lib.fd eol=lf
FD/md2_lib.fd_AmiSSL eol=lf
FD/md4_lib.fd eol=lf
FD/md4_lib.fd_AmiSSL eol=lf
FD/md5_lib.fd eol=lf
FD/md5_lib.fd_AmiSSL eol=lf
FD/mdc2_lib.fd eol=lf
FD/mdc2_lib.fd_AmiSSL eol=lf
FD/rc2_lib.fd eol=lf
FD/rc2_lib.fd_AmiSSL eol=lf
FD/rc4_lib.fd eol=lf
FD/rc4_lib.fd_AmiSSL eol=lf
FD/rc5_lib.fd eol=lf
FD/rc5_lib.fd_AmiSSL eol=lf
FD/ripemd_lib.fd eol=lf
FD/ripemd_lib.fd_AmiSSL eol=lf
FD/rsa_lib.fd eol=lf
FD/rsa_lib.fd_AmiSSL eol=lf
FD/sha_lib.fd eol=lf
FD/sha_lib.fd_AmiSSL eol=lf
/READMEAmiSSL.txt eol=lf
/SMakefile eol=lf
/apiadd.txt eol=lf
/apps.c eol=lf
/apps.h eol=lf
/ca.c eol=lf
/casttester.c eol=lf
certs/03e16f6c.0 eol=lf
certs/04183E8D.0 eol=lf
certs/0462677F.0 eol=lf
certs/052eae11.0 eol=lf
certs/08ff38aa.0 eol=lf
certs/0c364b2d.0 eol=lf
certs/0e82f83a.0 eol=lf
certs/102b8188.0 eol=lf
certs/11f154d6.0 eol=lf
certs/128b9c8d.0 eol=lf
certs/17b51fe6.0 eol=lf
certs/18d46017.0 eol=lf
certs/19899da5.0 eol=lf
certs/1a436542.0 eol=lf
certs/1d657651.0 eol=lf
certs/1dbdda5b.0 eol=lf
certs/1ef89214.0 eol=lf
certs/1f6c59cd.0 eol=lf
certs/219b8729.0 eol=lf
certs/24867d38.0 eol=lf
certs/256fd83b.0 eol=lf
certs/27747a11.0 eol=lf
certs/2EDF7016.2 eol=lf
certs/2EDF7016.3 eol=lf
certs/2edf7016.0 eol=lf
certs/2edf7016.1 eol=lf
certs/31fdd698.0 eol=lf
certs/31fdd698.1 eol=lf
certs/3ad48a91.0 eol=lf
certs/3e7271e8.0 eol=lf
certs/3ecf89a3.0 eol=lf
certs/412bea73.0 eol=lf
certs/4151ce3c.0 eol=lf
certs/4643210f.0 eol=lf
certs/4aa7e70e.0 eol=lf
certs/4d654d1d.0 eol=lf
certs/4e18c148.0 eol=lf
certs/4f19d2b4.0 eol=lf
certs/4fbd6bfa.0 eol=lf
certs/50501aa4.0 eol=lf
certs/54edfa5d.0 eol=lf
certs/56DBF74F.0 eol=lf
certs/594f1775.0 eol=lf
certs/5AC5D6D1.0 eol=lf
certs/5a5372fc.0 eol=lf
certs/5ac16436.0 eol=lf
certs/613f892a.0 eol=lf
certs/6166cb50.0 eol=lf
certs/635ccfd5.0 eol=lf
certs/656A8F2F.0 eol=lf
certs/67f38e98.0 eol=lf
certs/69b0411c.0 eol=lf
certs/6bee6be3.0 eol=lf
certs/6f205b44.0 eol=lf
certs/709afd2b.0 eol=lf
certs/72fa7371.0 eol=lf
certs/72fa7371.1 eol=lf
certs/73912336.0 eol=lf
certs/747e3dcb.0 eol=lf
certs/74c26bd0.0 eol=lf
certs/7651B327.1 eol=lf
certs/7651b327.0 eol=lf
certs/7a364847.0 eol=lf
certs/7a3a6f40.0 eol=lf
certs/7d3cd826.0 eol=lf
certs/7d453d8f.0 eol=lf
certs/7e8df9dd.0 eol=lf
certs/7edb8a70.0 eol=lf
certs/832db230.0 eol=lf
certs/841ea79d.0 eol=lf
certs/841ea79d.1 eol=lf
certs/8593e208.0 eol=lf
certs/85fe6149.0 eol=lf
certs/887A933E.0 eol=lf
certs/887A933E.1 eol=lf
certs/8c401b31.0 eol=lf
certs/8caad35e.0 eol=lf
certs/8e6e2991.0 eol=lf
certs/8efac7d4.0 eol=lf
certs/8f7b96c4.0 eol=lf
certs/94264315.0 eol=lf
certs/97B4211C.1 eol=lf
certs/97b3ba4d.0 eol=lf
certs/97b4211c.0 eol=lf
certs/99a8929f.0 eol=lf
certs/9D0C2A65.0 eol=lf
certs/9E787F17.0 eol=lf
certs/9E787F17.1 eol=lf
certs/9ec3a561.0 eol=lf
certs/9fae0770.0 eol=lf
certs/B5F329FA.1 eol=lf
certs/C33A80D4.1 eol=lf
certs/C6DAD25C.0 eol=lf
certs/CF9D18D9.0 eol=lf
certs/DDC328FF.1 eol=lf
certs/E7E6BF27.0 eol=lf
certs/F73E89FD.1 eol=lf
certs/a15b3b6b.0 eol=lf
certs/a1a8cfcb.0 eol=lf
certs/a6498a91.0 eol=lf
certs/a8b2d517.0 eol=lf
certs/a99c5886.0 eol=lf
certs/aaa45464.0 eol=lf
certs/adbec561.0 eol=lf
certs/add67345.0 eol=lf
certs/b0f3e76e.0 eol=lf
certs/b413391d.0 eol=lf
certs/b415d336.0 eol=lf
certs/b5f329fa.0 eol=lf
certs/b67c3057.0 eol=lf
certs/bcdd5959.0 eol=lf
certs/c19d42c7.0 eol=lf
certs/c19d42c7.1 eol=lf
certs/c215bc69.0 eol=lf
certs/c33a80d4.0 eol=lf
certs/c483e3b7.0 eol=lf
certs/c527e4ab.0 eol=lf
certs/c61efb68.0 eol=lf
certs/c8180066.0 eol=lf
certs/c91a3bb9.0 eol=lf
certs/c9bc75ba.0 eol=lf
certs/cbe74757.0 eol=lf
certs/ccb919f9.0 eol=lf
certs/d0081655.0 eol=lf
certs/d2adc77d.0 eol=lf
certs/d777342d.0 eol=lf
certs/d777342d.1 eol=lf
certs/d78a75c7.0 eol=lf
certs/d8274e24.0 eol=lf
certs/ddc328ff.0 eol=lf
certs/df4df6e1.0 eol=lf
certs/e1882a94.0 eol=lf
certs/e7b8d656.0 eol=lf
certs/ea60804f.0 eol=lf
certs/ea73afb5.0 eol=lf
certs/ece8871a.0 eol=lf
certs/ed049835.0 eol=lf
certs/ed049835.1 eol=lf
certs/ed524cf5.0 eol=lf
certs/ed62f4e3.0 eol=lf
certs/ed62f4e3.1 eol=lf
certs/f002c4f0.0 eol=lf
certs/f2202738.0 eol=lf
certs/f3e90025.0 eol=lf
certs/f4996e82.0 eol=lf
certs/f64d9715.0 eol=lf
certs/f73e89fd.0 eol=lf
certs/f944a1cc.0 eol=lf
certs/fd2cb667.0 eol=lf
certs/ff783690.0 eol=lf
demoCA/cacert.pem eol=lf
demoCA/index.txt eol=lf
demoCA/newcerts/011E.pem eol=lf
demoCA/private/cakey.pem eol=lf
demoCA/serial eol=lf
/e_os.h eol=lf
/functionptrs.txt eol=lf
/https.c eol=lf
/https_old.c eol=lf
include/amissl/amissl.h eol=lf
include/amissl/amisslconf.h eol=lf
include/amissl/amisslv.h eol=lf
include/amissl/asn1.h eol=lf
include/amissl/asn1_mac.h eol=lf
include/amissl/bio.h eol=lf
include/amissl/blowfish.h eol=lf
include/amissl/bn.h eol=lf
include/amissl/buffer.h eol=lf
include/amissl/cast.h eol=lf
include/amissl/comp.h eol=lf
include/amissl/conf.h eol=lf
include/amissl/conf_api.h eol=lf
include/amissl/crypto.h eol=lf
include/amissl/des.h eol=lf
include/amissl/dh.h eol=lf
include/amissl/dsa.h eol=lf
include/amissl/dso.h eol=lf
include/amissl/e_os.h eol=lf
include/amissl/e_os2.h eol=lf
include/amissl/ebcdic.h eol=lf
include/amissl/err.h eol=lf
include/amissl/evp.h eol=lf
include/amissl/hmac.h eol=lf
include/amissl/idea.h eol=lf
include/amissl/lhash.h eol=lf
include/amissl/md2.h eol=lf
include/amissl/md4.h eol=lf
include/amissl/md5.h eol=lf
include/amissl/mdc2.h eol=lf
include/amissl/obj_mac.h eol=lf
include/amissl/objects.h eol=lf
include/amissl/pem.h eol=lf
include/amissl/pem2.h eol=lf
include/amissl/pkcs12.h eol=lf
include/amissl/pkcs7.h eol=lf
include/amissl/rand.h eol=lf
include/amissl/rc2.h eol=lf
include/amissl/rc4.h eol=lf
include/amissl/rc5.h eol=lf
include/amissl/ripemd.h eol=lf
include/amissl/rsa.h eol=lf
include/amissl/rsaref.h eol=lf
include/amissl/safestack.h eol=lf
include/amissl/sha.h eol=lf
include/amissl/ssl.h eol=lf
include/amissl/ssl2.h eol=lf
include/amissl/ssl23.h eol=lf
include/amissl/ssl3.h eol=lf
include/amissl/ssl_locl.h eol=lf
include/amissl/stack.h eol=lf
include/amissl/symhacks.h eol=lf
include/amissl/tags.h eol=lf
include/amissl/tls1.h eol=lf
include/amissl/tmdiff.h eol=lf
include/amissl/txt_db.h eol=lf
include/amissl/version.h eol=lf
include/amissl/x509.h eol=lf
include/amissl/x509_vfy.h eol=lf
include/amissl/x509v3.h eol=lf
include/clib/amissl_protos.h eol=lf
include/clib/amisslmaster_protos.h eol=lf
include/clib/blowfish_protos.h eol=lf
include/clib/cast_protos.h eol=lf
include/clib/des_protos.h eol=lf
include/clib/dh_protos.h eol=lf
include/clib/dsa_protos.h eol=lf
include/clib/idea_protos.h eol=lf
include/clib/md2_protos.h eol=lf
include/clib/md4_protos.h eol=lf
include/clib/md5_protos.h eol=lf
include/clib/mdc2_protos.h eol=lf
include/clib/rc2_protos.h eol=lf
include/clib/rc4_protos.h eol=lf
include/clib/rc5_protos.h eol=lf
include/clib/ripemd_protos.h eol=lf
include/clib/rsa_protos.h eol=lf
include/clib/sha_protos.h eol=lf
include/libraries/amissl.h eol=lf
include/libraries/amisslmaster.h eol=lf
include/pragmas/amissl_pragmas.h eol=lf
include/pragmas/amisslmaster_pragmas.h eol=lf
include/pragmas/blowfish_pragmas.h eol=lf
include/pragmas/cast_pragmas.h eol=lf
include/pragmas/des_pragmas.h eol=lf
include/pragmas/dh_pragmas.h eol=lf
include/pragmas/dsa_pragmas.h eol=lf
include/pragmas/idea_pragmas.h eol=lf
include/pragmas/md2_pragmas.h eol=lf
include/pragmas/md4_pragmas.h eol=lf
include/pragmas/md5_pragmas.h eol=lf
include/pragmas/mdc2_pragmas.h eol=lf
include/pragmas/rc2_pragmas.h eol=lf
include/pragmas/rc4_pragmas.h eol=lf
include/pragmas/rc5_pragmas.h eol=lf
include/pragmas/ripemd_pragmas.h eol=lf
include/pragmas/rsa_pragmas.h eol=lf
include/pragmas/sha_pragmas.h eol=lf
include/proto/amissl.h eol=lf
include/proto/amissl_all.h eol=lf
include/proto/amisslmaster.h eol=lf
include/proto/blowfish.h eol=lf
include/proto/cast.h eol=lf
include/proto/des.h eol=lf
include/proto/dh.h eol=lf
include/proto/dsa.h eol=lf
include/proto/idea.h eol=lf
include/proto/md2.h eol=lf
include/proto/md4.h eol=lf
include/proto/md5.h eol=lf
include/proto/mdc2.h eol=lf
include/proto/rc2.h eol=lf
include/proto/rc4.h eol=lf
include/proto/rc5.h eol=lf
include/proto/ripemd.h eol=lf
include/proto/rsa.h eol=lf
include/proto/sha.h eol=lf
/keygen.c eol=lf
lib/TODO eol=lf
lib/_ctype_.c eol=lf
lib/abort.c eol=lf
lib/accept.c eol=lf
lib/atoi.c eol=lf
lib/bind.c eol=lf
lib/bsearch.c eol=lf
lib/closesocket.c eol=lf
lib/connect.c eol=lf
lib/getenv.c eol=lf
lib/gethostbyname.c eol=lf
lib/getpid.c eol=lf
lib/getservbyname.c eol=lf
lib/getsockopt.c eol=lf
lib/gmtime_r.c eol=lf
lib/ioctlsocket.c eol=lf
lib/listen.c eol=lf
lib/memcmp.c eol=lf
lib/memcpy.c eol=lf
lib/memset.c eol=lf
lib/qsort.c eol=lf
lib/rand.c eol=lf
lib/recv.c eol=lf
lib/send.c eol=lf
lib/shutdown.c eol=lf
lib/socket.c eol=lf
lib/sprintf.c eol=lf
lib/sscanf.c eol=lf
lib/stat.c eol=lf
lib/strcat.c eol=lf
lib/strcmp.c eol=lf
lib/strcpy.c eol=lf
lib/strlen.c eol=lf
lib/strncmp.c eol=lf
lib/strtol.c eol=lf
lib/strtoul.c eol=lf
lib/time.c eol=lf
lib/vfscanf.c eol=lf
lib/vsprintf.c eol=lf
lib/vsscanf.c eol=lf
/makeit eol=lf
/makeitdebug eol=lf
/makelibs eol=lf
/makelibsdebug eol=lf
perl/fixincludes.pl eol=lf
perl/fixstackof.pl eol=lf
perl/makefd.pl eol=lf
perl/makescript.pl eol=lf
perl/makescript2.pl eol=lf
perl/mklib.pl eol=lf
perl/mkppcpragmas.pl eol=lf
perl/mkpragmas.pl eol=lf
perl/smakelibs.pl eol=lf
/pkcs12.c eol=lf
/progs.h eol=lf
scmt/accept.c eol=lf
scmt/asm.h eol=lf
scmt/bind.c eol=lf
scmt/clock.c eol=lf
scmt/closesocket.c eol=lf
scmt/connect.c eol=lf
scmt/dirent.c eol=lf
scmt/fflush.c eol=lf
scmt/fgetc.c eol=lf
scmt/fibex.h eol=lf
scmt/file.c eol=lf
scmt/fread.c eol=lf
scmt/free.c eol=lf
scmt/freopen.c eol=lf
scmt/fwrite.c eol=lf
scmt/getenv.c eol=lf
scmt/gethostbyname.c eol=lf
scmt/getpid.c eol=lf
scmt/getservbyname.c eol=lf
scmt/getsockopt.c eol=lf
scmt/getuid.c eol=lf
scmt/gmtime.c eol=lf
scmt/ioctlsocket.c eol=lf
scmt/listen.c eol=lf
scmt/malloc.c eol=lf
scmt/mt.c eol=lf
scmt/multitcp.h eol=lf
scmt/netlib.h eol=lf
scmt/oml.A22656 text eol=lf
scmt/putc.c eol=lf
scmt/realloc.c eol=lf
scmt/recv.c eol=lf
scmt/refill.c eol=lf
scmt/remove.c eol=lf
scmt/scmt.h eol=lf
scmt/send.c eol=lf
scmt/setsockopt.c eol=lf
scmt/shutdown.c eol=lf
scmt/smakefile eol=lf
scmt/socket.c eol=lf
scmt/sprintf.c eol=lf
scmt/sscanf.c eol=lf
scmt/stat.c eol=lf
scmt/testth text eol=lf
scmt/testth.c eol=lf
scmt/testth.info text eol=lf
scmt/testth.lnk eol=lf
scmt/threadhash.c eol=lf
scmt/time.c eol=lf
scmt/vscanf.c eol=lf
scmt/vsprintf.c eol=lf
scmt/vsscanf.c eol=lf
src/AmiSSL.c eol=lf
src/AmiSSL_spec.c eol=lf
src/BlowFish.c eol=lf
src/CAST.c eol=lf
src/DES.c eol=lf
src/DH.c eol=lf
src/DSA.c eol=lf
src/IDEA.c eol=lf
src/MD2.c eol=lf
src/MD4.c eol=lf
src/MD5.c eol=lf
src/MDC2.c eol=lf
src/RC2.c eol=lf
src/RC2ppc.c eol=lf
src/RC4.c eol=lf
src/RC5.c eol=lf
src/RIPEMD.c eol=lf
src/RSA.c eol=lf
src/SHA.c eol=lf
src/amissl.init eol=lf
src/amisslinit.h eol=lf
src/amisslmaster.init eol=lf
src/blowfish.init eol=lf
src/cast.init eol=lf
src/des.init eol=lf
src/dh.init eol=lf
src/dsa.init eol=lf
src/idea.init eol=lf
src/libamissl.c eol=lf
src/md2.init eol=lf
src/md4.init eol=lf
src/md5.init eol=lf
src/mdc2.init eol=lf
src/rc2.init eol=lf
src/rc4.init eol=lf
src/rc5.init eol=lf
src/ripemd.init eol=lf
src/rsa.init eol=lf
src/sha.init eol=lf
src/spec/fibex.h eol=lf
src/spec/myabort.c eol=lf
src/spec/mysprintf.c eol=lf
src/spec/mystdio.c eol=lf
src/spec/time.c eol=lf
src/time.c eol=lf
/things.txt eol=lf
